<header>
  <div class="container">
    <div class="logo">
      <span class="ampersand">&amp;</span>
      Ampercoin
    </div>
  </div>
</header>
{{yield}}
<footer>
  <div>Contact</div>
  <div>email: mason@ampercoin.com</div>
  <div>bitcoin: 18WtEEyNbv7Ldst7XpbQxK37wnfwdf3Z7b: <span class='value'></span></div>
  <div>ampercoin: &amp;mason</div>
</footer>
