<div class="checkout">
  <div class="container">
    <h4 class="text-center">*Ampercoin is still under development. The network is expected to go
        live in Q4 of 2015</h4>
    <div class="qr-code">
      {{qr-code value=bitcoinAddress}}
    </div>
    <div class="payment">
      <h1>Preordering: &amp;{{model.preordered_account.address}} and 10 Ampercoins</h1>
      <h3><i class="fa fa-spinner fa-spin"></i> Waiting for payment</i></h3>
      <h3>Please pay exactly {{model.amountInBTC}} BTC to:</h3>
      <h3>{{model.payment_address}}</h3>

    </div>
  </div>
</div>
