<div class="checkout">
  <div class="container">
    <div class="qr-code">
      {{qr-code value=bitcoinAddress}}
    </div>
    <div class="payment">
      <h1>Preordering: &amp;{{model.address}} and 10 Ampercoins</h1>
      <h3>Waiting for payment <i class="fa fa-spinner fa-spin"></i></h3>
      <h3>Please pay exactly {{model.amountInBTC}} BTC to:</h3>
      <h3>{{model.bitcoinAddress}}</h3>

    </div>
  </div>
</div>
