<div class="checkout">
  <div class="container">
    <div class="qr-code">
      {{qr-code value=bitcoinAddress}}
    </div>
    <div class="payment">
      <h3>Address: &amp;{{model.address}}</h3>
      <h3>Please pay exactly {{model.amountInBTC}} BTC to:</h3>
      <h3>{{model.bitcoinAddress}}</h3>

    </div>
  </div>
</div>
